body {
  /* background-color: black; */
  /* background-color: #d1cdc2; */
  margin: 0;
}

.trash-header {
  position: fixed;
  text-align: left;
  margin-left: 4%;
  color: #696969;
  width: 100%;
  z-index:20;
}

.grid {
  margin: 0 5% 0 60%;
  background-color: white;
  z-index:10;
  position:relative;
  box-shadow: 0px 0px 12px 10px rgba(255,255,255,1);

}


#backgrndImg{
  opacity: 97%;
  position:fixed;

}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 22px
  }

  h2 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 415px) {
  h1 {
    font-size: 15px
  }

  h2 {
    font-size: 13px;
  }
}
