body{
  /* width: 100%;*/
  background-color: #d1cdc2;
  margin: 0;
  /*max-height: 100%;
  margin: 0;
  padding: 0; */
  /* height: 5000px; */
  /* background-image: url(pics/trash.png); */
  /* background-size:100%; */
  /* background-repeat: repeat; */
}

.trash-header{
  position:fixed;
  text-align:left;
  margin-left: 4%;
  width: 100%; */
  background-color: green;
  /* height: 100%; */
}
.grid{
  margin: 0 5% 0 50%;
  background-color: white;
}

img{
  max-width:100%;
     height:auto;
   margin:0;}

   @media only screen and (max-width: 700px) {
     h1 {
       font-size:22px
     }
     h2{
       font-size:17px;
     }
   }

   @media only screen and (max-width: 415px) {
     h1 {
       font-size:15px
     }
     h2{
       font-size:13px;
     }
   }
